<%= form_with model: book, local: true do |f| %>
        <div class="from-group">
         <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control book_title' %>
        </div>
        <div class="from-group">
         <%= f.label :opinion %>
        <%= f.text_area :body, class: 'form-control book_body' %>
        </div>
        <br>
        <div class="from-group">
        <%= f.submit 'Create Book', class: 'btn btn-success' %>
        <% end %>
        </div>